# Unrelated Note Files
tmp\*.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.tgz

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
._*
.Spotlight-V100
.Trashes

# Build outputs
build/
coverage/
temp/
tmp/

# Environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other files to ignore
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore specific directories if needed
/public/assets/uploads/